<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--aquí va nuestro formulario-->
  <form #formulario_login="ngForm" (ngSubmit)="acceder(formulario_login.value)">
    <div>
      <label>Nombre</label>
      <input type="text" #nombre="ngModel" 
      name="nombre"  [(ngModel)]="login.nombre"
      required pattern=".{4,}">
      <small [hidden]="!(formulario_login.submitted && !nombre.valid)">
        Nombre de al menos 4 letras
      </small>
    </div>
    <div>
      <label>PWD</label>
      <input type="text" #pwd="ngModel" 
      name="pwd"  [(ngModel)]="login.pwd" required>
      <small [hidden]="!(formulario_login.submitted && !pwd.valid)">
          Contraseña obligatoria
        </small>
    </div>
    <div> 
      <label>PWD Repe</label>
      <input type="text" #pwd2="ngModel" 
      name="pwd2"  [(ngModel)]="login.pwd2" required validateEqual="pwd">
      <small [hidden]="!(formulario_login.submitted && !pwd2.valid)">
          Repita la misma contraseña
        </small>
    </div>
    <button type="submit">Acceder</button>
  </form>
</div>